{
  "inbounds": [
    {
      "port": 443,
      "protocol": "vmess",
      "settings": {
        "clients": [
          {% for xray_vmess_client in xray_vmess_clients %}
          {
            "id": "{{ xray_vmess_client.id }}",
            "email": "{{ xray_vmess_client.email }}",
            "alterId": 64
          }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/ray"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}

